*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.card-container {
	margin:1rem; /* gap,marginは数値合わせて */
	display: grid;
	gap:1rem;    /* gap,marginは数値合わせて */
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.card {
	text-align: center;
	border: 1px solid #000;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card h2 {
	margin-top: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.card p {
	margin-bottom: 0;
	font-size: 1em;
	color: #555;
}

/* @media screen and (max-width:1080px) {
	.card {
		width: 33.3%;
	}
}

@media screen and (max-width:768px) {
	.card-container {
		min-width: 500px;
	}
	.card {
		width: 50%;
	}
} */